*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: hsl(275, 100%, 97%);
}

.image img{
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Faq container */

.faq-container{
    background-color: white;
}